[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-localflavor = "*"
selenium = "*"
chromedriver-py = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-filter = "*"

[requires]
python_version = "3.7"
